main.barcode-sheet-main {
  max-width: initial !important;
  position: relative;
}

.company-logo-container {
  --company-logo-height: 8rem;

  height: var(--company-logo-height);
  max-width: 90%;
  margin: auto;
}

.company-logo-container img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.edit-item-stock:active {
  transform: scale(97%);
}

.edit-item-stock > svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: rgb(243, 243, 243);
}

.checkbox-stock-update {
  position: absolute;
  top: 5px;
  left: 10px;
}

.barcode-sheet-main .form-check-input:checked {
  --checked-shadow-color: #0d6efd;
  box-shadow:
    3px 3px 10px var(--checked-shadow-color),
    -3px -3px 10px var(--checked-shadow-color);
}

.products-container {
  list-style-type: none;
  padding-left: 0;
  max-width: 100%;
}

.product-container {
  position: relative;
}

.new-item-indicator-container {
  height: 2rem;
  width: 100%;
}

.new-item-indicator-container img {
  max-width: 50%;
  max-height: 100%;
  object-fit: contain;
}

.product-images-container {
  max-height: 7.5rem;
}

.barcode-container {
  max-width: 60%;
}

.barcode-image {
  object-fit: contain;
  max-width: 100%;
  max-height: 80%;
}

.upc-number {
  font-weight: 500;
}

.product-image-container {
  max-width: 40%;
}

.product-image {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.print-button.btn {
  position: sticky;
  top: 1rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: 1rem;
  z-index: 1030;
  width: 3rem;
  height: 3rem;
  display: flex !important;
  align-items: center;
  justify-content: center;
  padding: 0;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.15);
}

@media print {
  // interactive/navigational elements shouldn't be included on a printed page, so we hide them.
  .navbar,
  .print-button.btn,
  .barcode-sheet-main .sheet-type-container,
  .barcode-sheet-main .checkbox-stock-update,
  .barcode-sheet-main form > .text-center:last-of-type {
    display: none !important;
  }

  .barcode-sheet-main .product-container {
    break-inside: avoid;
  }

  .barcode-sheet-main .company-logo-container {
    height: calc(var(--company-logo-height) * 0.8);
  }
}
