{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %}{% endblock %}</title>

  {% include "_common/includes/head-standard.html" %}

  {% block extra_head_elements %}
  {% endblock %}
</head>

<body>
  <header>
    {% block body_header %}
    {% endblock %}
  </header>
  <main>
    <section class="py-4 px-2 mw-rem-60 mx-auto">
      <h1 class="title-text text-center h2">
        {% block error_title %}
        {% endblock error_title %}
      </h1>

      <p class="h6 text-center">
        {% block error_text %}
        {% endblock error_text %}

        {% include '_common/includes/the-button.html' %}
      </p>
    </section>
  </main>
</body>

</html>
