DEV=0

UID=1000
GID=1000
TZ=

DJANGO_STATIC_URL=
DJANGO_MEDIA_URL=
DJANGO_SECRET_KEY=
DJANGO_ALLOWED_HOSTS=""  # space-separated URLs
DJANGO_CSRF_TRUSTED_ORIGINS=""  #space-separated URLs

# Base URL for Redis instance
REDIS_HOST=redis

PSQL_DB_NAME=
PSQL_USERNAME=
PSQL_PASSWORD=
PSQL_HOST=
PSQL_PORT=
