__pycache__
*.sqlite3
*.sqlite3-journal
*.env
.env.*
!.env.example
log_files/*
/staticfiles/**
/media/**
products/import_testfiles/images/**
node_modules/
static/dist/index.js
static/dist/index.js.map
collected/
static/dist/*
*-docker-compose.sh
*.css.map
*.css
