# docker-compose.yml

services:
  django_app:
    build:
      context: .
      args:
        ENV_TYPE: "${ENV_TYPE}"
        UID: "${UID}"
    image: inventory-manager-django-dev
    container_name: inventory-manager-dev
    command: >
      bash -c "
      trap 'echo SIGTERM received, shutting down...; exit' SIGTERM;
      while true; do
        sleep 1;
      done
      "
    tty: true
    user: "${UID}"
    ports:
      - ${DJANGO_DEV_PORT}:${DJANGO_DEV_PORT}
    volumes:
      - inv_manager_node_modules:/app/node_modules
      - ./:/app
    env_file:
      - ${ENV_FILE}
    restart: unless-stopped

  # redis-overcommit-on-host
  redis-overcommit:
    build: https://github.com/bkuhl/redis-overcommit-on-host.git
    container_name: redis-overcommit-dev
    restart: "no"
    privileged: true
    volumes:
      - /proc/sys/vm:/mnt/vm

  redis:
    image: redis
    container_name: redis-inventory-manager-dev
    command: sh -c "redis-server --port ${REDIS_PORT} --requirepass ${REDIS_PASSWORD}"
    restart: unless-stopped
    depends_on:
      - django_app

  rq_worker_default:
    image: inventory-manager-django-dev
    container_name: inventory-manager-rq-worker-default-dev
    command: uv run python manage.py rqworker default
    user: "${UID}"
    volumes:
      - ./:/app
    env_file:
      - ${ENV_FILE}
    restart: unless-stopped
    depends_on:
      - django_app

  rq_scheduler:
    image: inventory-manager-django-dev
    container_name: inventory-manager-rq-scheduler-dev
    command: uv run rqscheduler -H redis -p ${REDIS_PORT} -P ${REDIS_PASSWORD} --db 0
    user: "${UID}"
    volumes:
      - ./:/app
    env_file:
      - ${ENV_FILE}
    restart: unless-stopped
    depends_on:
      - django_app

volumes:
  inv_manager_node_modules:
    external: true
