services:
  django_app:
    build:
      context: .
      args:
        ENV_TYPE: "${ENV_TYPE}"
        UID: "${UID}"
    image: inventory-manager-django-dev
    container_name: inventory-manager-dev
    command: >
      bash -c "
      trap 'echo SIGTERM received, shutting down...; exit' SIGTERM;
      while true; do
        sleep 1;
      done
      "
    tty: true
    user: "${UID}"
    ports:
      - ${DJANGO_PORT}:${DJANGO_PORT}
    volumes:
      - inv_manager_node_modules:/app/node_modules
      - ./:/app
    env_file:
      - ${ENV_FILE}
    restart: unless-stopped

  # redis-overcommit-on-host
  redis-overcommit:
    build: https://github.com/bkuhl/redis-overcommit-on-host.git
    container_name: redis-overcommit-dev
    restart: "no"
    privileged: true
    volumes:
      - /proc/sys/vm:/mnt/vm

  redis:
    image: redis
    container_name: redis-inventory-manager-dev
    command: sh -c "redis-server --port ${REDIS_PORT} --requirepass ${REDIS_PASSWORD}"
    env_file:
      - ${ENV_FILE}
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "redis-cli", "-h", "localhost", "-p", "${REDIS_PORT}", "-a", "${REDIS_PASSWORD}", "ping"]
      interval: 5s
      timeout: 3s
      retries: 3
    depends_on:
      - django_app

  inv_manager_scheduler_worker_default:
    image: inventory-manager-django-dev
    container_name: inv-manager-scheduler-worker-default
    command: uv run python manage.py scheduler_worker
    user: "${UID}"
    volumes:
      - ./:/app
    env_file:
      - ${ENV_FILE}
    restart: unless-stopped
    depends_on:
      redis:
        condition: service_healthy


volumes:
  inv_manager_node_modules:
    external: true
