services:
  django_app:
    build:
      context: .
      args:
        ENV_TYPE: "${ENV_TYPE}"
        UID: "${UID}"
    image: mmonj.inventory-manager-django-prod
    container_name: inventory-manager-prod
    command: >
      poetry run bash -c "python manage.py migrate
      && python manage.py generate_client_assets
      && python manage.py build
      && python manage.py collectstatic --clear --noinput
      && uvicorn server.asgi:application --host 0.0.0.0 --port 8080"
    user: "${UID}"
    volumes:
      - /app/node_modules
      - ./:/app
    env_file:
      - ${ENV_FILE}
    restart: always
    networks:
      - caddy_net

  # redis-overcommit-on-host
  redis-overcommit:
    build: https://github.com/bkuhl/redis-overcommit-on-host.git
    container_name: redis-overcommit-prod
    restart: "no"
    privileged: true
    volumes:
      - /proc/sys/vm:/mnt/vm

  redis:
    image: redis
    container_name: redis-inventory-manager-prod
    command: sh -c "redis-server --port ${REDIS_PORT} --requirepass ${REDIS_PASSWORD}"
    env_file:
      - ${ENV_FILE}
    restart: unless-stopped
    healthcheck:
      test:
        [
          "CMD",
          "redis-cli",
          "-h",
          "localhost",
          "-p",
          "${REDIS_PORT}",
          "-a",
          "${REDIS_PASSWORD}",
          "ping",
        ]
      interval: 5s
      timeout: 3s
      retries: 3
    networks:
      - caddy_net
    depends_on:
      - django_app

  inv_manager_scheduler_worker_default:
    image: mmonj.inventory-manager-django-prod
    container_name: inventory-manager-scheduler-worker-prod
    command: uv run python manage.py scheduler_worker
    user: "${UID}"
    volumes:
      - ./:/app
    env_file:
      - ${ENV_FILE}
    restart: unless-stopped
    depends_on:
      redis:
        condition: service_healthy
    networks:
      - caddy_net

volumes:
  inv_manager_node_modules:
    external: true

networks:
  caddy_net:
    external: true
