/* 
Custom dark theme variables for bootstrap, implemented under data-bs-theme="light"
ie. the default theme will be a dark theme 
*/

$prefix: bs-;
/* hues */
$blue: rgb(59, 126, 226);
$indigo: rgb(14, 14, 14);
$purple: rgb(2, 2, 2);
$pink: rgb(232, 62, 140);
$red: rgb(219, 52, 69);
$orange: rgb(252, 123, 18);
$yellow: rgb(253, 186, 41);
$green: rgb(28, 187, 139);
$teal: rgb(33, 201, 150);
$cyan: rgb(24, 164, 185);

/* dark neutrals + grays */
$white: rgb(34, 47, 61);
$gray-100: rgb(58, 70, 83);
$gray-200: rgb(80, 91, 102);
$gray-300: rgb(102, 110, 121);
$gray-400: rgb(122, 130, 138);
$gray-500: rgb(148, 154, 161);
$gray-600: rgb(169, 173, 179);
$gray-700: rgb(188, 191, 196);
$gray-800: rgb(204, 207, 211);
$gray-900: rgb(231, 232, 235);
$black: rgb(255, 255, 255);

/* semantic colors */
$primary: $blue;
$secondary: $gray-400;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $gray-100,
  "dark": $gray-900,
);

$body-bg: rgb(25, 34, 44);
$body-color: $gray-700;
$mark-color: $gray-200;

$body-secondary-color: rgba($gray-800, 0.75);
$body-secondary-bg: $gray-200;

$body-tertiary-color: rgba($gray-100, 0.5);
$body-tertiary-bg: $gray-100;

$body-emphasis-color: $black;

$headings-color: $black;
$font-size-base: 0.875rem;
$font-family-sans-serif:
  "Inter",
  "Helvetica Neue",
  Arial,
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  "Noto Sans",
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  "Noto Color Emoji";

/* heading font sizes */
$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.75;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.25;
$h5-font-size: $font-size-base;
$h6-font-size: $font-size-base;

/* display font sizes */
$display-font-sizes: (
  1: 6rem,
  2: 5.5rem,
  3: 4.5rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem,
);

/* lead paragraph */
$lead-font-size: 1.09375rem;

/* links */
$link-color: $primary;

$link-decoration: none;

/* borders & code */
$border-color: $gray-200;

/* box shadows for dark theme */
$box-shadow: 0 0.1rem 0.2rem rgba($white, 0.05);
$box-shadow-sm: 0 0.05rem 0.2rem rgba($white, 0.05);
$box-shadow-lg: 0 0.2rem 0.2rem rgba($white, 0.05);
$box-shadow-inset: inset 0 1px 2px rgba($white, 0.075);

/* border radius */
$border-radius-sm: 0.1rem;
$border-radius: 0.2rem;
$border-radius-lg: 0.3rem;

/* focus ring */
$focus-ring-color: rgba($primary, 0.25);

/* card component */

$border-color-translucent: rgba($white, 0.15);
$card-border-width: 0;
$card-bg: var(--#{$prefix}white);
$card-cap-bg: transparent;

/* input component */
$input-bg: var(--#{$prefix}white);
$input-color: var(--#{$prefix}body-color);
$input-padding-y: 0.3rem;
$input-padding-x: 0.85rem;
$input-font-size: $font-size-base;
$input-padding-y-sm: 0.2rem;
$input-padding-x-sm: 0.5rem;
$input-font-size-sm: 0.75rem;
$input-padding-y-lg: 0.4rem;
$input-padding-x-lg: 1rem;
$input-font-size-lg: 0.925rem;
$form-text-font-size: 80%;

/* list group component */
$list-group-bg: var(--#{$prefix}white);

$list-group-color: var(--#{$prefix}body-color);
$list-group-border-color: var(--#{$prefix}border-color);

/* navigation */
$component-active-color: $black;
$pagination-bg: var(--#{$prefix}white);
$pagination-color: var(--#{$prefix}gray-600);
$pagination-disabled-bg: var(--#{$prefix}secondary-bg);
$pagination-disabled-color: var(--#{$prefix}secondary-color);

$modal-backdrop-bg: var(--#{$prefix}black);
$modal-content-bg: var(--#{$prefix}white);

$badge-color: $black;
$table-color: var(--#{$prefix}body-color);
$table-striped-bg: var(--#{$prefix}white);

/* dark navbar */
$navbar-dark-color: rgba($white, 0.85);
$navbar-dark-hover-color: rgba($white, 1);
$navbar-dark-active-color: $white;
$navbar-dark-brand-color: $navbar-dark-active-color;
$navbar-dark-brand-hover-color: $navbar-dark-active-color;

/* light navbar */
$navbar-light-color: rgba($black, 0.65);
$navbar-light-hover-color: rgba($black, 0.85);
$navbar-light-active-color: rgba($black, 0.95);
$navbar-light-brand-color: $navbar-light-active-color;
$navbar-light-brand-hover-color: $navbar-light-active-color;

/* button spacing and typography */
$btn-padding-y: $font-size-base * 0.35;
$btn-padding-x: $font-size-base;
$btn-font-size: $font-size-base;
$btn-padding-y-sm: $font-size-base * 0.23;
$btn-padding-x-sm: $font-size-base * 0.58;
$btn-font-size-sm: $font-size-base * 0.87;
$btn-padding-y-lg: $font-size-base * 0.46;
$btn-padding-x-lg: $font-size-base * 1.15;
$btn-font-size-lg: $font-size-base * 1.06;

/* dropdown spacing and typography */
$dropdown-padding-x: 0;
$dropdown-padding-y: $btn-padding-y-lg;
$dropdown-font-size: $font-size-base;
$dropdown-item-padding-y: $btn-padding-y-lg * 0.7;
$dropdown-item-padding-x: $btn-padding-x-lg * 1.5;
$dropdown-header-padding-x: $dropdown-item-padding-x;
$dropdown-header-padding-y: $dropdown-padding-y;

/* navigation spacing */
$nav-link-padding-y: $dropdown-padding-y;
$nav-link-padding-x: $btn-padding-x-lg;

/* navbar spacing and typography */
$navbar-padding-y: $font-size-base * 0.8; // 0.875rem (matches base)
$navbar-padding-x: $font-size-base * 1.3; // 1.375rem (0.875 * 1.571429)
$navbar-brand-padding-y: $navbar-padding-y;
$navbar-brand-font-size: $font-size-base * 1.32;
$navbar-nav-link-padding-x: $btn-padding-x-sm;
$navbar-toggler-padding-y: $font-size-base * 0.29;
$navbar-toggler-padding-x: $font-size-base * 0.86;
$navbar-toggler-font-size: $btn-font-size-lg;

/* card spacing */
$card-cap-padding-y: $btn-padding-x-lg;
$card-cap-padding-x: $card-cap-padding-y * 1.25;
$card-img-overlay-padding: $card-cap-padding-y;

/* breadcrumb spacing */
$breadcrumb-padding-y: 0;
$breadcrumb-padding-x: 0;
$breadcrumb-item-padding-x: $nav-link-padding-y;

/* pagination spacing and typography */
$pagination-padding-y: $btn-padding-y;
$pagination-padding-x: $font-size-base * 0.86;
$pagination-font-size: $font-size-base;
$pagination-padding-y-sm: $btn-padding-y-sm * 0.75;
$pagination-padding-x-sm: $btn-padding-x-sm;
$pagination-font-size-sm: $btn-font-size-sm;
$pagination-padding-y-lg: $btn-padding-y-lg * 0.875;
$pagination-padding-x-lg: $btn-padding-x-lg;
$pagination-font-size-lg: $btn-font-size-lg;

/* badge spacing and typography */
$badge-padding-y: 0.3em;
$badge-padding-x: 0.45em;
$badge-font-size: 80%;

/* alert spacing */
$alert-padding-y: $font-size-base * 1.09;
$alert-padding-x: $alert-padding-y;

/* list group spacing */
$list-group-item-padding-y: $pagination-padding-x;
$list-group-item-padding-x: $card-cap-padding-x;

/* modal spacing */
$modal-inner-padding: $card-cap-padding-y;
$modal-header-padding-y: $modal-inner-padding;
$modal-header-padding-x: $modal-inner-padding;
$modal-header-padding: $modal-header-padding-y $modal-header-padding-x;
