{% extends "stock_tracker/layout.html" %}
{% load static %}

{% block title %}Inventory Manager{% endblock %}

{% block extra_head_elements %}
{% endblock %}

{% block body_header %}
{% include "_common/includes/navbar.html" %}
{% endblock %}

{% block body_main %}
<section class="my-4 mw-rem-60 mx-auto px-2">
  <div class="row">

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Survey Launcher</h5>
          <p class="card-text">Launch survey forms by store lookup</p>
          <a href="{% url 'survey_worker:survey_launcher' %}" class="btn btn-primary">Go to Survey Launcher</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Territory Viewer</h5>
          <p class="card-text">View Territory: Stores and tickets</p>
          <a href="{% url 'survey_worker:territory_viewer' %}" class="btn btn-primary">Go to Territory Viewer</a>
        </div>
      </div>
    </div>

    {% if user.is_superuser %}
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">WebHub</h5>
          <p class="card-text">Submit Work Tickets</p>
          <a href="{% url 'survey_worker:webhub' %}" class="btn btn-primary">Go to WebHub</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Rep Sync Data Viewer</h5>
          <p class="card-text">View Rep Sync Data</p>
          <a href="{% url 'survey_worker:rep_sync_data_viewer' %}" class="btn btn-primary">Go to Rep Sync Data
            Viewer</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Task Adminer</h5>
          <p class="card-text">Administrate RQ Tasks</p>
          <a href="{% url 'survey_worker:task_adminer' %}" class="btn btn-primary">Go to Task Adminer</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">CMK HTML Manual Form</h5>
          <p class="card-text">Update CMK HTML Manually</p>
          <a href="{% url 'survey_worker:manual_cmklaunch_html' %}" class="btn btn-primary">Go to CMK HTML Manual
            Form</a>
        </div>
      </div>
    </div>
    {% endif %}

  </div>
</section>
{% endblock %}
