{% extends "stock_tracker/layout.html" %}
{% load static %}

{% block title %}Inventory Manager{% endblock %}

{% block extra_head_elements %}
{% endblock %}

{% block body_header %}
{% include "_common/includes/navbar.html" %}
{% endblock %}

{% block body_main %}
<section class="my-4 mw-rem-60 mx-auto px-2">
  <div class="row">
    <!-- qt_territory_viewer -->
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">View Qt Territory</h5>
          <p class="card-text">Launch Qt Territory</p>
          <a href="{% url 'survey_worker:qt_territory_viewer' %}" class="btn btn-primary">Go to Qt Territory</a>
        </div>
      </div>
    </div>

    {% if user.is_superuser %}
    <!-- qt_admin -->
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Qt Admin</h5>
          <p class="card-text">Manage Qt Territories</p>
          <a href="{% url 'survey_worker:qt_admin' %}" class="btn btn-primary">Go to Qt Admin</a>
        </div>
      </div>
    </div>
    <!-- qt_view_login_sessions -->
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">View Login Sessions</h5>
          <p class="card-text">View active login sessions</p>
          <a href="{% url 'survey_worker:qt_view_login_sessions' %}" class="btn btn-primary">Go to View Login
            Sessions</a>
        </div>
      </div>
    </div>
    <!-- qt_view_schedules -->
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">View Schedules</h5>
          <p class="card-text">View and manage schedules</p>
          <a href="{% url 'survey_worker:qt_view_schedules' %}" class="btn btn-primary">Go to View Schedules</a>
        </div>
      </div>
    </div>
    <!-- qt_update_schedule -->
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Update Schedule</h5>
          <p class="card-text">Update schedules for Qt Territories</p>
          <a href="{% url 'survey_worker:qt_update_schedule' %}" class="btn btn-primary">Go to Update Schedule</a>
        </div>
      </div>
    </div>
    {% endif %}

  </div>
</section>
{% endblock %}
