<section id="store-select-container" class="m-3">
  <form id="store-selector-form">
    <fieldset>
      <legend class="mb-3">Store Selector</legend>
      <div class="mb-3">
        <label for="field-representative-select" class="form-label">Field Representative</label>
        <select id="field-representative-select" class="form-select" required></select>
      </div>
      <div class="mb-3">
        <label for="store-select" class="form-label">Store</label>
        <select id="store-select" class="d-block col-12" required></select>
      </div>
      <button type="submit" class="btn btn-primary col-12 my-2">Submit</button>
    </fieldset>
  </form>
</section>