{% extends "logger/layout.html" %}
{% load static %}

{% block title %}Product Locator{% endblock %}

{% block extra_head_elements %}
  <meta name="csrf_token" content="{{ csrf_token }}" />

  <script>
    (function() {
      window.__PRODUCT_LOCATOR__ = {};
      window.__PRODUCT_LOCATOR__.scan_sound_path = "{% static 'logger/scan_sound.ogg' %}";
      window.__PRODUCT_LOCATOR__.new_location_action_url = "{% url 'product_locator:get_product_location' %}";
    })();
  </script>

  <script src="https://unpkg.com/html5-qrcode@2.3.7/html5-qrcode.min.js"></script>
  <link rel="stylesheet" href="{% static 'logger/styles/scanner.css' %}" />

  <script defer src="{% static 'logger/scripts/util.js' %}"></script>
  <script defer src="{% static 'product_locator/scripts/index.js' %}"></script>
{% endblock %}

{% block body_header %}
  {% include "product_locator/includes/navbar.html" %}
{% endblock %}

{% block body_main %}
  <h1 id="page-title" class="m-3 text-center title-color">Product Locator</h1>
  {% include "logger/includes/store_picker.html" %}
  {% include "logger/includes/scanner_section.html" %}

  <div class="modal fade" id="modal-add-location" tabindex="-1" aria-labelledby="modal-add-location-label" aria-hidden="true">
    <div class="modal-dialog">
      <form class="modal-content" id="upc-location-update-form" action="{% url 'product_locator:add_new_product_location' %}" method="POST">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modal-add-location-label">Add location</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <fieldset>
            <legend>Location</legend>
              <p>
                <label for="upc-number-location-update" class="form-label">UPC Number</label>
                <input type="text" name="upc-number" id="upc-number-location-update" class="form-control" readonly>
              </p>
              <p>
                <label for="planogram-name-update" class="form-label">Planogram</label>
                <select type="text" name="planogram-name" id="planogram-name-update" class="form-select">
                  {% for planogram in planograms %}
                    <option value="{{ planogram.id }}">{{ planogram }}</option>
                  {% endfor %}
                </select>
              </p>
              <p>
                <label for="location-name-update" class="form-label">New Location</label>
                <input type="text" pattern="[a-zA-Z][0-9]{1,2}" name="location-name" id="location-name-update" class="form-control">
              </p>
          </fieldset>
          <div class="hidden-message-box text-center alert alert-danger visually-hidden">Message...</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">
            Submit Changes
            <div class="loading-spinner spinner-border spinner-border-sm text-light mx-1 visually-hidden" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </button>
        </div>
      </form>
    </div>
  </div>

  <script id="stores-list" type="application/json">{{ stores | safe }}</script>
{% endblock %}
