@import "variables";

.nav {
  --bs-nav-link-color: #{$text-color-1};
  --bs-nav-link-hover-color: #{$text-color-3};
  --bs-nav-link-disabled-color: #6c757d;
}

.navbar {
  --bs-navbar-color: #{$text-color-3};
  --bs-navbar-hover-color: #{$text-hover-color-1};
  --bs-navbar-disabled-color: #{$text-disabled-color-1};
  --bs-navbar-active-color: #{$text-active-color-1};
  --bs-navbar-brand-color: #{$text-color-1};
  --bs-navbar-brand-hover-color: #{$text-hover-color-1};
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath  stroke='rgba%28255, 255, 255, 0.85%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-tabs {
  --bs-nav-tabs-border-color: #{$border-color-1};
  --bs-nav-tabs-link-hover-border-color: #{$border-color-2};
  --bs-nav-tabs-link-active-color: #{$text-color-1};
  --bs-nav-tabs-link-active-bg: #{$background-primary};
  --bs-nav-tabs-link-active-border-color: #{$border-color-2};
}

.nav-link {
  color: $text-color-3;

  &:hover {
    color: $text-color-1;
  }

  &:active {
    color: darken($text-color-1, 20%);
  }
}