@import "variables";

body {
  // background: linear-gradient(135deg, $bg-dark-purple-5 40%, $bg-dark-purple-4);
  background: radial-gradient(ellipse at top, $bg-dark-purple-4, $bg-dark-purple-5);
  min-height: 100vh;
}

h1,h2,h3,h4,h5,h6 {
  color: $text-color-1;
}

.navbar-brand:active {
  filter: brightness(90%);
  transform: scale(98%);
}

@each $i in $max-width-rem-values {
  .mw-rem-#{$i}{
    max-width: #{$i}rem;
  }
}

.card {
  background-color: $bg-dark-purple-3;
  border-color: $card-border-color-1;
}

#product-logger-logo {
  height: 100%;
}
