{% extends "logger/layout.html" %}
{% load static %}

{% block title %}
  Barcode Sheet History
{% endblock %}

{% block extra_head_elements %}
{% endblock %}

{% block body_header %}
  {% include "logger/includes/navbar.html" %}
{% endblock %}

{% block body_main %}
<section class="mw-rem-60 mx-auto">
  <h3 class="m-3 text-center title-color">Barcode Sheet History</h1>

  <div class="dropdown text-center my-3">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Filter by Field Rep
    </button>
  
    <ul class="dropdown-menu">
      {% for field_rep in field_representatives %}
        <li>
          <a class="dropdown-item py-2" href="{% url 'logger:barcode_sheet_history_repid' field_rep.id %}" data-field_rep_id="{{ field_rep.id }}">{{ field_rep.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  
  <ol class="p-0">
      {% for barcode_sheet in recent_barcode_sheets %}
        <li class="card collapse show my-2 text-center">
            <h5 class="card-header">{{ barcode_sheet.parent_company.short_name }} - Cycle: {{ barcode_sheet.work_cycle.start_date }}</h5>
            <div class="card-body">
              <h5 class="card-title mb-3">{{ barcode_sheet.store.name }}</h5>
              <p class="card-text mb-0">Created on {{ barcode_sheet.datetime_created }} </p>
              <p class="card-text">{{ barcode_sheet.product_additions.count }} items in this document</p>
              <a href="{% url 'logger:get_barcode_sheet' barcode_sheet.id %}?store-name={{barcode_sheet.store.name}}&sheet-type=out-of-dist" class="btn btn-primary">View Barcode Sheet</a>
            </div>
        </li>
      {% empty %}
        <h5 class="text-body text-center my-5">There is no document history for this user</h5>
      {% endfor %}
  </ol>

</section>

<script>
  (function() {
    const field_rep_id = "{{ field_representative_id|safe }}";
    if (!isNaN(field_rep_id)) {
      document.querySelector(`[data-field_rep_id="${field_rep_id}"]`).classList.add("active");
    }
  })();
</script>
{% endblock %}
