{% extends "logger/layout.html" %}
{% load static %}

{% block title %}
{% endblock %}

{% block extra_head_elements %}
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      document.documentElement.removeAttribute("data-bs-theme");
      document.querySelector("header").setAttribute("data-bs-theme", "dark");
      document.querySelector("main").classList.remove("mx-auto");
      document.querySelector("main").classList.add("mx-2");
    })
  </script>
  <link rel="stylesheet" href="{% static 'logger/styles/barcode_sheet.css' %}">
{% endblock %}

{% block body_header %}
  {% include "logger/includes/navbar.html" %}
  <div id="company-logo-container" class="p-3 text-center">
    <img class="img" src="{{ parent_company.third_party_logo.url }}" alt="" />
  </div>
{% endblock %}

{% block body_main %}
  <ul id="products-container" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6 g-4">
    {% for product_addition in product_additions %}
      <li class="col">
        <div class="product-container card text-center border-0">
          <div class="new-item-indicator-container mb-1" style="width: 100%;">
            {% if product_addition.is_new %}
              <img src="{% static 'products/images/new_item_icon.png' %}" alt="" style="max-width: 50%; object-fit: contain;">
            {% endif %}
          </div>
          <div class="d-flex" style="max-height: 120px;">
            <div class="barcode-container">
              <img src="data:image/png;base64,{{ product_addition.product.barcode_b64 }}" class="barcode-image" alt="Product Barcode">
              <div class="upc-number d-flex justify-content-evenly" style="font-weight: 500;">
                {{ product_addition.product.upc }}
              </div>
            </div>
            <div class="product-image-container">
              <img src="{{ product_addition.product.item_image_url }}" class="product-image" alt="Product Image">
            </div>
          </div>
          <div class="card-body">
            <label class="card-text">{{ product_addition.product.name }}</label>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
