{% extends "logger/layout.html" %}
{% load static %}

{% block title%}Manager Update Form{% endblock %}

{% block extra_head_elements%}
  <script defer src="{% static 'logger/scripts/get_manager_names.js' %}"></script>
  <style>
    .empty-required-field {
      border-color: #ff000036 !important;
      background-color: #ff000012 !important;
    }
    .empty-required-field:focus {
      box-shadow: 0 0 0 0.25rem rgb(253 13 13 / 9%) !important;
    }
    ul {
      padding-left: 0;
      list-style: none;
    }
  </style>
{% endblock %}

{% block body_header %}
  {% include "logger/includes/navbar.html" %}
{% endblock %}

{% block body_main %}
  <section class="mw-rem-50 mx-auto p-3">
    {% include "product_locator/includes/messages.html" %}

    <form id="manager-names-form" action="{% url 'logger:get_manager_names' %}" method="POST">
      {% csrf_token %}

      <fieldset>
        <legend class="text-center"><h2 class="title-color">Manager Names</h2></legend>
        
        <p>
          <label class="form-label">Field Reps</label>
          <select id="field-rep-selection" class="form-select"></select>
        </p>

        <ul id="store-fields"></ul>
      </fieldset>

      <div class="text-center">
        <button type="submit" class="btn btn-primary">
          Submit
          <div class="spinner-border spinner-border-sm text-light visually-hidden" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </button>
      </div>
    </form>

  </section>

  <script id="territory_list" type="application/json">{{ territory_list | safe }}</script>
{% endblock %}
