{% extends 'logger/layout.html' %}
{% load widget_tweaks %}

{% block title %}Import JSON data{% endblock %}

{% block body_header %}
  {% include 'logger/includes/navbar.html' %}
{% endblock %}

{% block body_main %}
  <section class="m-3">
    <form action="{% url 'logger:import_json_data_files' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      
      <label for="{{ form.territory_info_json.id_for_label }}" class="mb-2">Territory Info JSON</label>
      {% render_field form.territory_info_json class="form-control mb-4" %}
      
      <label for="{{ form.product_names_json.id_for_label }}" class="mb-2">Products JSON</label>
      {% render_field form.product_names_json class="form-control mb-4" %}
      
      <label for="{{ form.store_distribution_data_json.id_for_label }}" class="mb-2">Stores Distribution Data JSON</label>
      {% render_field form.store_distribution_data_json class="form-control mb-4" %}

      <label for="{{ form.field_reps_json.id_for_label }}" class="mb-2">Field Reps JSON</label>
      {% render_field form.field_reps_json class="form-control mb-4" %}

      <label for="{{ form.product_images_zip.id_for_label }}" class="mb-2">Product Images archive</label>
      {% render_field form.product_images_zip class="form-control mb-4" %}
      
      <label for="{{ form.brand_logos_zip.id_for_label }}" class="mb-2">Brand Logos archive</label>
      {% render_field form.brand_logos_zip class="form-control mb-4" %}
      
      <button type="submit" class="btn btn-primary form-control">Submit</button>
    </form>
  </section>
{% endblock %}
