{% extends "logger/layout.html" %}
{% load static %}

{% block title %}UPC Scanner{% endblock %}

{% block extra_head_elements %}
  <meta name="csrf_token" content="{{ csrf_token }}" />

  <script>
    window.LOGGER_INFO = {};
    window.LOGGER_INFO.scan_sound_path = "{% static 'logger/scan_sound.ogg' %}";
    window.LOGGER_INFO.upc_submit_action_url = "{% url 'logger:log_product_scan' %}";
  </script>
  <script src="{% static 'logger/scripts/html5-qrcode-2.3.4.js' %}"></script>
  <script src="{% static 'logger/scripts/logger_ui_handlers.js' %}"></script>
  <script src="{% static 'logger/scripts/logger.js' %}"></script>
  <link rel="stylesheet" href="{% static 'logger/styles/logger.css' %}" />

  <script src="{% static 'logger/scripts/jquery-3.6.3.slim.min.js' %}"></script>
  <link href="{% static 'logger/styles/select2@4.1.0-rc.min.css' %}" rel="stylesheet" />
  <script src="{% static 'logger/scripts/select2@4.1.0-rc.min.js' %}"></script>
{% endblock %}

{% block body_header %}
  {% include "logger/includes/navbar.html" %}
{% endblock %}

{% block body_main %}
  {% include "logger/includes/store_picker.html" %}
  {% include "logger/includes/scanner_section.html" %}

  <script id="field-rep-stores-info" type="application/json">{{ field_rep_stores_info | safe }}</script>
{% endblock %}
