{% extends "logger/layout.html" %}
{% load static %}

{% block title %}UPC Scanner{% endblock %}

{% block extra_head_elements %}
  <meta name="csrf_token" content="{{ csrf_token }}" />

  <script>
    var scan_sound_file = "{% static 'logger/scan_sound.ogg' %}";
  </script>
  <script src="https://unpkg.com/html5-qrcode"></script>
  <script src="{% static 'logger/logger.js' %}"></script>

  <link rel="stylesheet" href="{% static 'logger/logger.css' %}" />
{% endblock %}

{% block body_header %}
  {% include "logger/navbar.html" %}
{% endblock %}

{% block body_main %}
  <div id="reader"></div>
  
  <!-- <ol class="list-group list-group-numbered mt-3">
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">UPC number</div>
        Product Description if exist
      </div>
      <button class="btn badge bg-primary rounded-pill my-auto">Remove</button>
    </li>
  </ol> -->
{% endblock %}
