{% extends "logger/layout.html" %}
{% load static %}

{% block title %}UPC Scanner{% endblock %}

{% block extra_head_elements %}
  <meta name="csrf_token" content="{{ csrf_token }}" />

  <script>
    (function() {
      window.__LOGGER_INFO__ = {};
      window.__LOGGER_INFO__.scan_sound_path = "{% static 'logger/scan_sound.ogg' %}";
      window.__LOGGER_INFO__.upc_submit_action_url = "{% url 'logger:log_product_scan' %}";
    })();
  </script>

  <script src="https://unpkg.com/html5-qrcode@2.3.7/html5-qrcode.min.js"></script>
  <link rel="stylesheet" href="{% static 'logger/styles/scanner.css' %}" />
  
  <script src="https://code.jquery.com/jquery-3.6.3.slim.min.js" integrity="sha256-ZwqZIVdD3iXNyGHbSYdsmWP//UBokj2FHAxKuSBKDSo=" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

  <script defer src="{% static 'logger/scripts/logger_ui_handlers.js' %}"></script>
  <script defer src="{% static 'logger/scripts/util.js' %}"></script>
  <script defer src="{% static 'logger/scripts/scanner.js' %}"></script>
{% endblock %}

{% block body_header %}
  {% include "logger/includes/navbar.html" %}
{% endblock %}

{% block body_main %}
  <h1 id="page-title" class="m-3 text-center title-color">UPC Scanner</h1>
  {% include "logger/includes/store_picker.html" %}
  {% include "logger/includes/scanner_section.html" %}

  <script id="territory-info" type="application/json">{{ territory_info | safe }}</script>
{% endblock %}
