body {
  margin: 0;
}

#reader {
  z-index: -1;
  position: relative;
  height: 30vh;
  overflow: hidden;
}

#reader video {
  margin-top: -6vh;
}

.navbar-brand {
  color: rgb(247, 223, 186);
}

@keyframes fade_zero {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-zero {
  animation-name: fade_zero;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.product-container {
  min-width: 0;
}

.product-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.select2-container {
  width: 100%!important;
}

.select2-selection {
  min-height: 2rem;
}

.select2-selection__rendered {
  margin: 0.25rem;
}

.select2-selection__arrow {
  margin: 0.2rem 0;
}

/* main selection */
.select2-selection__rendered {
  color: var(--bs-body-color)!important;
  background-color: var(--bs-form-control-bg);
}

/* search input field */
.select2-search__field {
  color: var(--bs-body-color)!important;
  background-color: var(--bs-form-control-bg);
}

/* search input border */
.select2-search {
  background-color: var(--bs-form-control-bg)!important;
}

/* currently selected option */
.select2-results__option--selected {
  background-color: #3a3a3a!important;
}

/* non-selected options */
.select2-results {
  background-color: var(--bs-form-control-bg);
}

.select2-selection--single {
  background-color: var(--bs-form-control-bg)!important;
  border-color: var(--bs-border-color)!important;
  height: initial!important;
}
