<nav class="navbar navbar-expand-lg border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'stock_tracker:scanner' %}">Inventory Tracker</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'stock_tracker:scan_history' %}">Scan History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'stock_tracker:barcode_sheet_history' %}">Barcode Sheets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'stock_tracker:get_manager_names' %}">Manager Update Form</a>
        </li>
        {% endif %}

        {% if user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'stock_tracker:add_new_stores' %}">Add New Stores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'stock_tracker:import_json_data_files' %}">Import Old Database</a>
        </li>
        {% endif %}

      </ul>

      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'homepage:index' %}">Home</a>
        </li>
        {% if not user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'stock_tracker:login_view' %}">Log In</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'stock_tracker:logout_view' %}">Log Out</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
