$font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans",
  "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
  "Noto Color Emoji";

$bg-dark-3: rgb(35, 45, 59);
$bg-dark-5: rgb(17, 24, 39);
$background-primary: linear-gradient(to bottom, $bg-dark-3, $bg-dark-5);

$link-color-1: rgb(110 185 149);
$text-color-3: rgb(156, 163, 175);
$text-color-1: rgb(255, 255, 255);
$text-hover-color-1: darken($text-color-1, 15%);
$text-active-color-1: darken($text-color-1, 25%);
$text-disabled-color-1: darken($text-color-1, 35%);

$btn-bg-1: rgb(59 130 246);
$btn-hover-bg-1: darken($btn-bg-1, 15%);
$btn-active-bg-1: darken($btn-bg-1, 30%);
$btn-disabled-bg-1: darken($btn-bg-1, 40%);
$btn-border-color-1: transparent;
$btn-border-color-active-1: lighten($btn-bg-1, 15%);

$btn-bg-2: rgb(79, 70, 229);
$btn-bg-2-alt: rgb(120, 51, 234);
$btn-hover-bg-3: darken($btn-bg-2, 15%);
$btn-active-bg-3: darken($btn-bg-2, 20%);
$btn-disabled-bg-3: darken($btn-bg-2, 40%);
$btn-background-tertiary: linear-gradient(to bottom right, $btn-bg-2, $btn-bg-2-alt);
$btn-border-color-3: transparent;
$btn-border-color-active-3: lighten($btn-bg-2, 15%);

$border-color-1: rgba(229, 231, 235, 0.164);
$border-color-2: rgba(229, 231, 235, 0.274);
$card-border-color-1: $border-color-1;
$card-bg-1: $bg-dark-3;
$max-width-rem-values: 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;

// $border-color: rgb(229, 231, 235);
// $border-cfg: 1 solid $border-color;
// $ring-inset: 0;
// $ring-offset-color: rgb(255, 255, 255);
// $offset-shadow: $ring-inset 0 0 0  0  $ring-offset-color;
