@import "variables";

@each $i in $max-width-rem-values {
  .mw-rem-#{$i} {
    max-width: #{$i}rem;
  }
}

.bg-danger {
  background: #bd00004f !important;
}

.navbar-brand:active {
  filter: brightness(90%);
}

.nav-tabs {
  border-bottom: 1px solid #e0e0e066;
}

// select2 dropdown styles
.select2 {
  &-container {
    width: 100% !important;
  }

  &-selection {
    min-height: 2rem;
  }

  &-selection__rendered {
    margin: 0.25rem;
  }

  &-selection__arrow {
    margin: 0.2rem 0;
  }

  /* main selection */
  &-selection__rendered {
    color: $text-color-1 !important;
    background-color: $bg-dark-5;
  }

  /* search input field */
  &-search__field {
    color: $text-color-3 !important;
    background-color: $bg-dark-5;
  }

  /* search input border */
  &-search {
    background-color: $bg-dark-5 !important;
  }

  /* currently selected option */
  &-results__option--selected {
    background-color: #3a3a3a !important;
  }

  /* non-selected options */
  &-results {
    background-color: $bg-dark-5;
  }

  &-selection--single {
    background-color: $bg-dark-5 !important;
    border-color: $border-color-2 !important;
    height: initial !important;
  }
}

@keyframes _fade_zero {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-zero {
  animation-name: _fade_zero;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.react-select {
  &__single-value {
    color: white !important;
  }
  &__input-container {
    color: white !important;
  }
  &__control {
    color: white !important;
    background-color: $bg-dark-5 !important;
  }
  &__menu {
    border: #6d6d6d solid 1px;
  }

  &__menu-notice {
    color: white !important;
    background-color: $bg-dark-5 !important;
  }
  &__menu-list {
    background-color: $bg-dark-5 !important;
  }
  &__option {
    color: white !important;
    background-color: $bg-dark-5 !important;
    padding-top: 0.3rem !important;
    padding-bottom: 0.3rem !important;
  }
  &__option--is-focused {
    background-color: #67a2f7 !important;
  }
  &__option--is-selected {
    background-color: #297df9 !important;
  }
  &__group {
    padding: 0 !important;
  }
}

.accordion-button {
  background-color: transparent;
}

.accordion-button:not(.collapsed) {
  background-color: rgb(173 206 251 / 13%);
}
