@use "bs-dark/variables" as bs;
@use "sass:color";

$max-width-rem-values: 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;

@each $i in $max-width-rem-values {
  .mw-rem-#{$i} {
    max-width: #{$i}rem;
  }
}

.bg-danger {
  background: #bd00004f !important;
}

.select2 {
  &-container {
    width: 100% !important;
  }

  &-selection {
    min-height: 2rem;
  }

  &-selection__rendered {
    margin: 0.25rem;
  }

  &-selection__arrow {
    margin: 0.2rem 0;
  }

  /* main selection */
  &-selection__rendered {
    color: bs.$gray-400 !important;
    background-color: bs.$body-bg;
  }

  /* search input field */
  &-search__field {
    color: bs.$gray-400 !important;
    background-color: bs.$body-bg;
  }

  /* search input border */
  &-search {
    background-color: bs.$body-bg !important;
  }

  /* currently selected option */
  &-results__option--selected {
    background-color: bs.$gray-100 !important;
  }

  /* non-selected options */
  &-results {
    background-color: bs.$body-bg;
  }

  &-selection--single {
    background-color: bs.$body-bg !important;
    border-color: bs.$gray-800 !important;
    height: initial !important;
  }
}

@keyframes _fade_zero {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-zero {
  animation-name: _fade_zero;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.react-select {
  &__single-value {
    color: bs.$black !important;
  }
  &__input-container {
    color: bs.$black !important;
  }
  &__control {
    color: bs.$black !important;
    background-color: bs.$body-bg !important;
    border-color: bs.$gray-300 !important;
  }
  &__menu {
    border: bs.$gray-300 solid 1px;
  }
  &__menu-notice {
    color: bs.$black !important;
    background-color: bs.$body-bg !important;
  }
  &__menu-list {
    background-color: bs.$body-bg !important;
  }
  &__option {
    color: bs.$black !important;
    background-color: bs.$body-bg !important;
    padding-top: 0.3rem !important;
    padding-bottom: 0.3rem !important;
  }
  &__option--is-focused {
    background-color: bs.$blue !important;
  }
  &__option--is-selected {
    background-color: color.adjust(bs.$blue, $lightness: -12%) !important;
  }
  &__group {
    padding: 0 !important;
  }
}

.accordion-button {
  background-color: transparent;
}

.accordion-button:not(.collapsed) {
  background-color: rgba(bs.$blue, 0.13);
}
