body {
  margin: 0;
}

#scanner-viewport-container__scan_region {
  height: 30vh;
}

#scanner-viewport-container__scan_region video {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

#scanner-viewport-container__dashboard {
  display: none !important;
}

.product-container {
  min-width: 0;
}

.product-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@keyframes _flash {
  0% {
    filter: brightness(100%);
  }
  25% {
    filter: brightness(140%);
  }
  50% {
    filter: brightness(100%);
  }
  75% {
    filter: brightness(140%);
  }
  100% {
    filter: brightness(100%);
  }
}

.flash-item {
  animation-name: _flash;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
