main {
  max-width: initial !important;
}

#company-logo-container {
  height: 8rem;
  max-width: 90%;
  margin: auto;
}

#company-logo-container img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

#products-container {
  list-style-type: none;
  padding-left: 0;
  max-width: 100%;
}

.new-item-indicator-container {
  height: 1.5rem;
  width: 100%;
}

.new-item-indicator-container img {
  max-width: 50%;
  max-height: 100%;
  object-fit: contain;
}

.product-images-container {
  max-height: 7.5rem;
}

.barcode-container {
  max-width: 60%;
}

.barcode-image {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.upc-number {
  font-weight: 500;
}

.product-image-container {
  max-width: 40%;
}

.product-image {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}
