.navbar-brand {
  color: rgb(247, 223, 186);
}

.select2-container {
  width: 100%!important;
}

.select2-selection {
  min-height: 2rem;
}

.select2-selection__rendered {
  margin: 0.25rem;
}

.select2-selection__arrow {
  margin: 0.2rem 0;
}

/* main selection */
.select2-selection__rendered {
  color: var(--bs-body-color)!important;
  background-color: var(--bs-form-control-bg);
}

/* search input field */
.select2-search__field {
  color: var(--bs-body-color)!important;
  background-color: var(--bs-form-control-bg);
}

/* search input border */
.select2-search {
  background-color: var(--bs-form-control-bg)!important;
}

/* currently selected option */
.select2-results__option--selected {
  background-color: #3a3a3a!important;
}

/* non-selected options */
.select2-results {
  background-color: var(--bs-form-control-bg);
}

.select2-selection--single {
  background-color: var(--bs-form-control-bg)!important;
  border-color: var(--bs-border-color)!important;
  height: initial!important;
}
