body {
  margin: 0;
}

#scanner-viewport-container {
  border: none !important;
}

#scanner-viewport-container__scan_region {
  height: 30vh;
}

#scanner-viewport-container__scan_region video {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

#scanner-viewport-container__dashboard_section_csr > span:nth-child(2) {
  display: none;
}

#html5-qrcode-button-camera-start,
#html5-qrcode-button-camera-stop,
#html5-qrcode-button-file-selection {
  color: #fff;
  background-color: #6c757d;
  border: 1px solid #6c757d;
  border-radius: 6px;
  padding: 3px 8px;
}

#html5-qrcode-button-camera-permission {
  color: #fff;
  background-color: #6c757d;
  border: 1px solid #6c757d;
  border-radius: 6px;
  padding: 3px 8px;
}

.product-container {
  min-width: 0;
}

.product-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@keyframes _flash {
  0% {
    filter: brightness(100%);
  }
  25% {
    filter: brightness(140%);
  }
  50% {
    filter: brightness(100%);
  }
  75% {
    filter: brightness(140%);
  }
  100% {
    filter: brightness(100%);
  }
}

.flash-item {
  animation-name: _flash;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
