.mm-unset {
  all: unset;
}

.rephub-top-action-elements {
  width: 8rem;
  height: 8rem;
}

.rephub-top-action-elements button:active {
  transform: scale(0.95);
}

.rephub-main-content {
  min-width: 12rem;
}
